{% extends "templates/side_bar.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Places</title>
    <!-- Enlace a Bootstrap para mejorar el estilo -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container my-5">
        <h1 class="mb-4">List of places</h1>

        <!-- Verificamos si hay placeos -->
        {% if places %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <!-- Iteramos sobre los placeos -->
                {% for place in places %}
                    <div class="col">
                        <div class="card h-100">
                            <!-- Imagen del placeo -->
                            <img src="{{ place.image.url }}" class="card-img-top" alt="{{ place.name }} image">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ place.name }}</h5>
                                <p class="card-text">{{ place.description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Date:</strong> {{ place.date_and_time }}</li>
                                <li class="list-group-item"><strong>Address:</strong> {{ place.address }}</li>
                            </ul>
                            <!-- Botón Edit -->
                            <div class="card-body">
                              <!-- Botón Edit  <a href="{% url 'submit_place'%}" class="btn btn-primary">Edit</a>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <!-- Si no hay placeos, mostramos un mensaje -->
            <p class="text-muted">No upcoming places.</p>
        {% endif %}
    </div>

    <!-- Enlace al script de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}
