{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Medallo Oculto</title>
        <meta name="description" content="Main html for the view of the routes and interest points of Medallo Oculto">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- External CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"></link>
        <link rel="stylesheet" href="{% static 'main_route_style.css' %}">
        <link rel="stylesheet" href="{% static 'leaflet.menu.css' %}">
        <link rel="stylesheet" href="{% static 'easy-button.css' %}">
        <link rel="stylesheet" href="{% static 'leaflet.contextmenu.css' %}">

        <!-- External JS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="{% static 'leaflet.menu.js' %}"></script>
        <script src="{% static 'easy-button.js' %}"></script>
        <script src="{% static 'leaflet.contextmenu.js' %}"></script>
    </head>
    <body>
        <!-- style="position: absolute;width: 100%; height: 100%;  <div id="map"></div>  -->
        <div id="mainContainer">
            <div id="mapDiv">
              <div id="map">
                <div id="header">
                    <div id="search-bar">
                        <input id="input_search_bar" type="text" placeholder="Search, e.j. Toque de salsa en vivo">
                        <button id="search-button"><i class="fa fa-search"></i></button>
                    </div>
                    <div id="menu-buttons">
                        <button id="menu-button"><i class="fa fa-bus"></i></button>
                        <div id="route-options" class="dropdown-content">
                            <a href="#" id="foot-route">
                                <span class="selection-circle" id="foot-circle"></span>
                                Peatonal
                            </a>
                            <a href="#" id="car-route">
                                <span class="selection-circle" id="car-circle"></span>
                                Vehicular
                            </a>
                        </div>

                        <button id="menu-button2"><i class="fa fa-bars"></i></button>
                        <div id="search-options" class="dropdown-content">
                            <a href="#" id="event-button">
                                <span class="selection-circle" id="event-circle"></span>
                                Evento
                            </a>
                            <a href="#" id="route-button">
                                <span class="selection-circle" id="route-circle"></span>
                                Ruta
                            </a>
                            <a href="#" id="place-button">
                                <span class="selection-circle" id="place-circle"></span>
                                Lugar de interes
                            </a>
                        </div>

                        <button id="login-button">Registrarse</button>
                        <button id="sign-in-button">Iniciar Sesión</button>

                    </div>

                </div>
              </div>
            </div>
        </div>

        <script src="{% static 'menu_button.js' %}"></script>
        <script type="module" src="{% static 'main_route_logic.js' %}"></script>
    </body>
</html>
