asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
cloudinary==1.41.0
Django==5.0.7
django-address==0.2.8
django-cloudinary-storage==0.3.0
djangorestframework==3.15.2
idna==3.10
pillow==10.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
django-multiselectfield -falta poner esta ( es de migue )

