{% extends "templates/side_bar.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Places</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container my-5">
        <h1 class="mb-4">List of Places</h1>

        {% if places %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for place in places %}
                    <div class="col">
                        <div class="card h-100">
                            <!-- Mostrar solo la primera imagen usando la propiedad first_image -->
                            {% if place.first_image %}
                                <img src="{{ place.first_image }}" class="card-img-top" alt="{{ place.name }} image">
                            {% else %}
                                <img src="{% static 'images/default_image.jpg' %}" class="card-img-top" alt="Default image">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title fw-bold">{{ place.name }}</h5>
                                <p class="card-text">{{ place.description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Address:</strong> {{ place.address }}</li>
                                <li class="list-group-item"><strong>Categories:</strong> {{ place.listar_categorias }}</li>
                            </ul>
                            <div class="card-body text-center">
                                <!-- Botón Edit -->
                                <a href="{% url 'edit_place' place.id %}" class="btn btn-primary">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-muted">No upcoming places.</p>
        {% endif %}
    </div>

    <!-- Script de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{% endblock %}
